[Unit]
Description=Alarm Script
After=frust.service

[Service]
Type=simple
Environment="PHONE=your-phone"
ExecStart=/home/pi/projects/frust/alarm.sh
User=pi
Group=pi

[Install]
WantedBy=multi-user.target