[Unit]
Description=Fridge Controller

[Service]
Type=simple
Environment="INSIDE_SENSOR=/sys/bus/w1/devices/10-0008039a5582/w1_slave" "OUTSIDE_SENSOR=/sys/bus/w1/devices/10-0008039e9723/w1_slave" "TOKEN=test-token"
ExecStart=/home/pi/projects/frust/target/debug/frust
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target